<div *ngIf="item">

    <h2>{{item.title | uppercase}} Details</h2>
    
    <div>
        <label>id:</label> {{item.id}}
    </div>
    <div>
        <label>title:
        <input [(ngModel)]="item.title" />
        </label>
    </div>
    <div>
        <label>text:
        <input [(ngModel)]="item.text" />
        </label>
    </div>
    <div>
        <label>order:
        <input [(ngModel)]="item.order" />
        </label>
    </div>
  <div>
      <button (click)="saveItem(item)">save</button>
  </div>
</div>