<div *ngIf="item">

    <h2>{{item.title | uppercase}} Details</h2>
    
    <div>
        <label>id:</label> {{item.id}}
    </div>
    <div>
        <label>title:
        <input [(ngModel)]="item.title" />
        </label>
    </div>
    <div>
        <label>text:
        <input [(ngModel)]="item.text" />
        </label>
    </div>
  <div><span>due: </span>{{item.due}}</div>

  <div *ngIf="item.id == 0">
      <button (click)="addItem(item)">add</button>
  </div>
  <div>
    <a routerLink="/list">back</a>
</div>
</div>